/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  box-sizing: border;
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}
html a {
  text-decoration: none;
}
html a:link {
  text-decoration: none;
}
html a:visited {
  text-decoration: none;
}
body {
  width: 100%;
}
.navWrap {
  background-color: #fff;
  display: flex;
  border-bottom: solid 1px darkgray;
  width: 100%;
  position: fixed;
}
.navWrap .logo {
  padding: 20px 0 20px 40px;
}
.navWrap .logo img {
  max-height: 36px;
}
.navWrap .menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  font-weight: 700;
  letter-spacing: 0.3px;
}
.navWrap .menu ul {
  display: flex;
  font-size: 1.4rem;
}
.navWrap .menu ul li {
  padding-right: 30px;
}
.navWrap .menu ul li a {
  color: #55596d;
}
.navWrap .menu button {
  background-color: #bb1333;
  padding: 8px 20px;
  border: none;
  margin-right: 30px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.3px;
}
footer {
  width: 100%;
  background-color: black;
  min-height: 125px;
  color: white;
  padding-top: 25px;
}
footer .threeMenuWrap {
  margin: 0 auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
  color: white;
  padding-bottom: 20px;
}
footer .threeMenuWrap .menuBox {
  width: 30%;
  text-align: center;
}
footer .threeMenuWrap .menuBox h3 {
  font-size: 1.8rem;
  text-decoration: underline;
  margin-top: 20px;
}
footer .threeMenuWrap .menuBox ul li {
  padding-top: 5px;
  font-size: 1.4rem;
}
@media (max-width: 800px) {
  footer .threeMenuWrap {
    width: 80%;
  }
}
@media (max-width: 500px) {
  footer .threeMenuWrap {
    width: 95%;
  }
}
footer h6 {
  text-align: center;
  font-size: 1.2rem;
  padding-bottom: 15px;
}
.mainHead {
  width: 100%;
  min-height: 350px;
  background-image: url("../images/header.png");
  background-size: cover;
  display: flex;
  color: black;
  padding-top: 100px;
  justify-content: center;
}
.mainHead .textWrap {
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.mainHead .textWrap h1 {
  font-size: 3.2rem;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
@media (max-width: 800px) {
  .mainHead .textWrap h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 500px) {
  .mainHead .textWrap h1 {
    font-size: 2.2rem;
  }
}
.mainHead .textWrap p {
  font-size: 1.8rem;
  color: white;
  padding-top: 25px;
  line-height: 1.4;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
@media (max-width: 500px) {
  .mainHead .textWrap p {
    font-size: 1.2rem;
  }
}
@media (max-width: 800px) {
  .mainHead .textWrap {
    width: 75%;
  }
}
@media (max-width: 500px) {
  .mainHead .textWrap {
    width: 95%;
  }
}
.twoBoxWrap {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
}
.twoBoxWrap .innerBox {
  width: 42%;
  margin: 45px 0;
  min-height: 400px;
  border-radius: 15px;
  background-color: white;
  box-shadow: 3px 3px #666666;
  text-align: center;
}
.twoBoxWrap .innerBox .innerText {
  width: 60%;
  margin: 0 auto;
}
.twoBoxWrap .innerBox .innerText h2 {
  font-size: 2.4rem;
  padding-top: 20px;
}
@media (max-width: 800px) {
  .twoBoxWrap .innerBox .innerText h2 {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .twoBoxWrap .innerBox .innerText h2 {
    font-size: 2rem;
  }
}
.twoBoxWrap .innerBox .innerText p {
  font-size: 1.4rem;
  padding-top: 20px;
}
.twoBoxWrap .innerBox .innerText button {
  background-color: #bb1333;
  padding: 8px 20px;
  border: none;
  margin-top: 30px;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 0.3px;
}
@media (max-width: 800px) {
  .twoBoxWrap .innerBox .innerText {
    width: 80%;
  }
}
@media (max-width: 500px) {
  .twoBoxWrap .innerBox .innerText {
    width: 95%;
  }
}
@media (max-width: 800px) {
  .twoBoxWrap .innerBox {
    width: 48%;
  }
}
@media (max-width: 500px) {
  .twoBoxWrap .innerBox {
    width: 95%;
    margin: 15px 0;
    min-height: 300px;
  }
}
@media (max-width: 500px) {
  .twoBoxWrap {
    flex-direction: column;
    align-items: center;
  }
}
.aboutWrap {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  justify-content: space-around;
  padding-top: 85px;
  padding-bottom: 25px;
}
.aboutWrap .aboutCard {
  width: 46%;
  min-height: 250px;
  background-color: white;
  border: 1px solid black;
  border-radius: 15px;
  margin-top: 25px;
  box-shadow: 3px 3px #666666;
  padding-top: 10px;
}
.aboutWrap .aboutCard .nameBar {
  width: 96%;
  background-color: #bb1333;
  border: 1px solid black;
  border-radius: 15px;
  padding: 15px 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto;
}
.aboutWrap .aboutCard .nameBar h2 {
  color: white;
  font-size: 2.2rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.aboutWrap .aboutCard .nameBar h3 {
  color: white;
  font-size: 2.8rem;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.aboutWrap .aboutCard .infoWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.aboutWrap .aboutCard .infoWrap .imageBox {
  border: 1px solid black;
  box-shadow: 2px 2px #666666;
  margin: 15px 0 15px 15px;
}
.aboutWrap .aboutCard .infoWrap .imageBox img {
  max-height: 125px;
}
