.mainHead{
    width: 100%;
    min-height: 350px;
    background-image: url("../images/header.png");
    background-size: cover;
    display: flex;
    color: black;
    padding-top: 100px;
    justify-content: center;
    

    .textWrap{
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h1{
            font-size: 4rem;
            color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
    
        p{
            font-size: 1.8rem;
            color: white;
            padding-top: 25px;
            line-height: 1.4;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }
        
    }
}